.covid-about{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.scrollTop {
    position: fixed;
    width: 100%;
    bottom: 20px;
    right: 20px;
    align-items: center;
    height: 20px;
    justify-content: center;
    z-index: 99;
    cursor: pointer;
    animation: fadeIn 0.3s;
    transition: opacity 0.4s;
    opacity: 0.5;
    background-color: royalblue;
    color: white;
  }
  
  .scrollTop:hover{
    opacity: 1;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.5;
    }
}